.main-wrapper
	display none !important
	
.popup
	max-width 100%
	padding 30px 20px
	box-shadow none
	color #000000
	
	&__header
		background transparent
		
	&__logo
		top 0
		left 50px
		
	&__body-col_1
		border-left 1px solid #000
		
	&__body-col_2
		vertical-align middle
		
	&__print-btn,
	&__close-btn,
	&__files-wrap
		display none !important
		
	&__footer-separator
		background #000
		
.mfp-container 
	padding 0
	background #fff

.mfp-content
	vertical-align top
