.header
	position relative
	padding 0 10px
	
	+below(tablet)
		padding 10px
		background brandDark
	
	&__bg
		z-index 1
		position absolute
		top 0
		left 20px
		bottom 0
		margin auto 0
		height 61px
		width 100%
		background brandDark
		
		+below(1400px)
			left 0
			
		+below(tablet)
			display none
		
	&__body
		z-index 2
		position relative
		display table
		width 100%
		table-layout fixed
		
	&__body-col
		display table-cell
		width 50%
		vertical-align middle
		
		+below(large)
			width 70%
			
		+below(tablet)
			width 100%
		
		&_logo-wrap
			padding 0 5px
			text-align left
			
			+below(large)
				width 30%
				
			+below(tablet)
				display none
			
	&__nav-block-wrap
		position relative
		
	&__nav-block
		display table
		width 100%
		table-layout fixed
		
	&__nav-wrap
		display table-cell
		width 80px
		padding 0 5px
		vertical-align middle
		
		+below(tablet)
			width 40px
				
	&__navbar
		display none
		position absolute
		width 100%
		top 100%
		right 0
		padding 30px 0 10px
		background brandDark
		
	&__title-wrap
		display table-cell
		vertical-align middle
		single-line()
		
	&__title
		font-size 3.8rem
		
		+below(large)
			font-size 2.6rem
			
		+below(tablet)
			text-align left
			
		+below(small)
			font-size 1.8rem
		
		strong,
		b
			color brand
			font-family font-2
		
	&__logo-img
		vertical-align middle
		tr(.3s)
		
		&_1
			max-width 153px
			margin-left 15px
			
			+below(large)
				max-width 61px
			
		&_2
			max-width 114px
			
			+below(large)
				max-width 60px
				
.header_scrolled
	
	.header__logo-img_1
		height 61px
		width auto
		max-width none
		
		+below(large)
			height auto
			max-width 61px
		
		
	.header__logo-img_2
		height 40px
		width auto
		max-width none
		
		+below(large)
			height auto
			max-width 60px