.header
	position relative
	
	&__bg
		z-index 1
		position absolute
		top 0
		left 20px
		bottom 0
		margin auto 0
		height 61px
		width 100%
		background brandDark
		
	&__body
		z-index 2
		position relative
		display table
		width 100%
		table-layout fixed
		
	&__body-col
		display table-cell
		width 50%
		vertical-align middle
		
		&_logo-wrap
			padding 0 5px
			text-align left
			
	&__nav-block-wrap
		position relative
		
	&__nav-block
		display table
		width 100%
		table-layout fixed
		
	&__nav-wrap
		display table-cell
		width 80px
		padding 0 5px
		vertical-align middle
				
	&__navbar
		display none
		position absolute
		width 100%
		top 100%
		right 0
		padding 30px 0 10px
		background brandDark
		
	&__title-wrap
		display table-cell
		vertical-align middle
		
	&__title
		font-size 3.8rem
		
		strong,
		b
			color brand
			font-family font-2
		
	&__logo-img
		vertical-align middle
		
		&_1
			max-width 153px
			margin-left 15px
			
		&_2
			max-width 114px