.image-wrap
	position relative
	padding-top 6px
	
	+below(large)
		padding-top 0
	
	&__label
		z-index 2
		position absolute
		top 0
		right 30px
		width 350px
		padding 16px
		color light
		background #40ae49
		box-shadow 3px 2px 2px 0px rgba(0,0,0, .5)
		border-bottom-left-radius 5px
		border-bottom-right-radius 5px
		
		+below(large)
			position static
			width 100%
			margin-bottom 10px
		
		&:after
			position absolute
			top 0
			right -5px
			content ''
			display block
			width 0
			height 0
			border-style solid
			border-width 6px 0 0 5px
			border-color transparent transparent transparent brandDark
			
			+below(large)
				display none
			
		p
			font-size 1.5rem
			line-height 1.1em
	
	&__body
		zindex 1
		position relative
		overflow hidden
	
	.bx-wrapper
		margin 0
		
	.bx-wrapper .bx-viewport
		box-shadow none
		border 0
		left 0
		background transparent
		
	.bx-wrapper .bx-controls-direction a
		height 126px
		width 126px
		margin-top -63px
		background rgba(0,0,0, .5)
		border-radius 50%
		z-index 100
		
		+below(tablet)
			height 80px
			width 80px
			margin-top -40px
			
		+below(small)
			height 60px
			width 60px
			margin-top -30px
		
		&:hover,
		&:focus
			background rgba(0,0,0, .8)
		
	.bx-wrapper .bx-prev
		left auto
		right -63px
		
		+below(tablet)
			right -40px
			
		+below(small)
			right -30px
		
		&:after
			content ''
			position absolute
			top 0
			bottom 0
			left 36px
			margin auto
			display block
			width 0
			height 0
			border-style solid
			border-width 20px 0 20px 12px
			border-color transparent transparent transparent light
			
			+below(tablet)
				left 20px
				border-width 15px 0 15px 9px
				
			+below(small)
				left 15px
		
	.bx-wrapper .bx-next
		right auto
		left -63px
		
		+below(tablet)
			left -40px
			
		+below(small)
			left -30px
		
		&:after
			content ''
			position absolute
			top 0
			bottom 0
			right 36px
			margin auto
			display block
			width 0
			height 0
			border-style solid
			border-width 20px 12px 20px 0
			border-color transparent light transparent transparent
			
			+below(tablet)
				right 20px
				border-width 15px 9px 15px 0
				
			+below(small)
				right 15px
		
	&__slider
		
		> li
			
			> img 
				width 100%
				
	&__map-grid
		display table
		width 100%
		table-layout fixed
		
		+below(600px)
			display block
		
	&__map-col
		display table-cell
		position relative
		width 50%
		
		+below(600px)
			display block
			width 100%
		
		img
			width 100%
			
	&__map
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		border 2px solid #def46b
		
		+below(600px)
			position static
			height 300px