.nav-btn
	position relative
	display block
	height 24px
	width 30px
	transition all .5s ease-in-out
	cursor pointer
	
	&:hover,
	&:focus
		span
			background brand
	
	span
		position absolute
		top 0
		left 0
		display block
		height 4px
		width 100%
		background light
		transform rotate(0deg)
		transition all .25s ease-in-out
		
		&:nth-child(1)
			top 2px
			
		&:nth-child(2)
			top 10px
			
		&:nth-child(3)
			top 18px
			
	&_opened
		span
			&:nth-child(1)
				top 10px
				transform rotate(135deg)
				
			&:nth-child(2)
				left 30px
				opacity 0
			
			&:nth-child(3)
				top 10px
				transform rotate(-135deg)