.page
	
	&__row
		padding-top 80px
		
		&_2
			padding-bottom 152px
			background transparent url(images/bg-2.png) right center no-repeat
			background-size 30% auto
			border-bottom 1px solid #000
		
	&__title
		margin-bottom 30px
		color brandDark
		font-size 3.5rem
		line-height 1.2em
		
		&_row-2
			padding-right 15%