.page
	
	&__row
		padding-top 80px
		
		&_2
			padding-bottom 152px
			background transparent url(images/bg-2.png) right center no-repeat
			background-size contain
		
	&__title
		margin-bottom 30px
		color brandDark
		font-size 3.5rem
		line-height 1.2em