* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-focus-ring-color: rgba(255,255,255,0);
  cursor: default;
}
body {
  font-size: 100%;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
a {
  background: transparent;
}
*:focus,
*:active,
*:hover {
  outline: none;
}
hr {
  box-sizing: content-box;
  height: 0;
}
ol,
ul {
  list-style: none;
}
pre {
  tab-size: 4;
  white-space: pre-wrap;
}
q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}
img {
  border: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button {
  overflow: visible;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: none;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
button,
input,
select[multiple],
textarea {
  background-image: none;
}
input,
select,
textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
}
input,
textarea {
  resize: none;
  user-select: text;
}
[placeholder]:focus::placeholder {
  color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'rubik-bold';
  src: url("fonts/rubik-bold-webfont.woff") format('woff');
  src: url("fonts/rubik-bold-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rubik-regular';
  src: url("fonts/rubik-regular-webfont.woff") format('woff');
  src: url("fonts/rubik-regular-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rubik-medium';
  src: url("fonts/rubik-medium-webfont.woff") format('woff');
  src: url("fonts/rubik-medium-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 10px;
}
a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
img {
  vertical-align: top;
}
.body {
  direction: rtl;
  position: relative;
  color: #000;
  font-family: 'rubik-regular', serif;
}
.container {
  width: 100%;
  max-width: 1330px;
  margin: 0 auto;
}
.header {
  position: relative;
  padding: 0 10px;
}
@media only screen and (max-width: 768px) {
  .header {
    padding: 10px;
    background: #23408f;
  }
}
.header__bg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
  margin: auto 0;
  height: 61px;
  width: 100%;
  background: #23408f;
}
@media only screen and (max-width: 1400px) {
  .header__bg {
    left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .header__bg {
    display: none;
  }
}
.header__body {
  z-index: 2;
  position: relative;
  display: table;
  width: 100%;
  table-layout: fixed;
}
.header__body-col {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}
@media only screen and (max-width: 1100px) {
  .header__body-col {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .header__body-col {
    width: 100%;
  }
}
.header__body-col_logo-wrap {
  padding: 0 5px;
  text-align: left;
}
@media only screen and (max-width: 1100px) {
  .header__body-col_logo-wrap {
    width: 30%;
  }
}
@media only screen and (max-width: 768px) {
  .header__body-col_logo-wrap {
    display: none;
  }
}
.header__nav-block-wrap {
  position: relative;
}
.header__nav-block {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.header__nav-wrap {
  display: table-cell;
  width: 80px;
  padding: 0 5px;
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  .header__nav-wrap {
    width: 40px;
  }
}
.header__navbar {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  right: 0;
  padding: 30px 0 10px;
  background: #23408f;
}
@media only screen and (max-width: 768px) {
  .header__navbar {
    padding: 15px 0 0;
  }
}
.header__title-wrap {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header__title {
  font-size: 3.8rem;
}
@media only screen and (max-width: 1100px) {
  .header__title {
    font-size: 2.6rem;
  }
}
@media only screen and (max-width: 768px) {
  .header__title {
    text-align: left;
  }
}
@media only screen and (max-width: 480px) {
  .header__title {
    font-size: 1.8rem;
  }
}
.header__title strong,
.header__title b {
  color: #fff200;
  font-family: 'rubik-bold', serif;
}
.header__logo-img {
  vertical-align: middle;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__logo-img_1 {
  max-width: 153px;
  margin-left: 15px;
}
@media only screen and (max-width: 1100px) {
  .header__logo-img_1 {
    max-width: 61px;
  }
}
.header__logo-img_2 {
  max-width: 114px;
}
@media only screen and (max-width: 1100px) {
  .header__logo-img_2 {
    max-width: 60px;
  }
}
.header_scrolled .header__logo-img_1 {
  height: 61px;
  width: auto;
  max-width: none;
}
@media only screen and (max-width: 1100px) {
  .header_scrolled .header__logo-img_1 {
    height: auto;
    max-width: 61px;
  }
}
.header_scrolled .header__logo-img_2 {
  height: 40px;
  width: auto;
  max-width: none;
}
@media only screen and (max-width: 1100px) {
  .header_scrolled .header__logo-img_2 {
    height: auto;
    max-width: 60px;
  }
}
.image-wrap {
  position: relative;
  padding-top: 6px;
}
@media only screen and (max-width: 1100px) {
  .image-wrap {
    padding-top: 0;
  }
}
.image-wrap__label {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 30px;
  width: 350px;
  padding: 16px;
  color: #fff;
  background: #40ae49;
  box-shadow: 3px 2px 2px 0px rgba(0,0,0,0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media only screen and (max-width: 1100px) {
  .image-wrap__label {
    position: static;
    width: 100%;
    margin-bottom: 10px;
  }
}
.image-wrap__label:after {
  position: absolute;
  top: 0;
  right: -5px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 0 5px;
  border-color: transparent transparent transparent #23408f;
}
@media only screen and (max-width: 1100px) {
  .image-wrap__label:after {
    display: none;
  }
}
.image-wrap__label p {
  font-size: 1.5rem;
  line-height: 1.1em;
}
.image-wrap__body {
  zindex: 1;
  position: relative;
  overflow: hidden;
}
.image-wrap .bx-wrapper {
  margin: 0;
}
.image-wrap .bx-wrapper .bx-viewport {
  box-shadow: none;
  border: 0;
  left: 0;
  background: transparent;
}
.image-wrap .bx-wrapper .bx-controls-direction a {
  height: 126px;
  width: 126px;
  margin-top: -63px;
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 100;
}
@media only screen and (max-width: 768px) {
  .image-wrap .bx-wrapper .bx-controls-direction a {
    height: 80px;
    width: 80px;
    margin-top: -40px;
  }
}
@media only screen and (max-width: 480px) {
  .image-wrap .bx-wrapper .bx-controls-direction a {
    height: 60px;
    width: 60px;
    margin-top: -30px;
  }
}
.image-wrap .bx-wrapper .bx-controls-direction a:hover,
.image-wrap .bx-wrapper .bx-controls-direction a:focus {
  background: rgba(0,0,0,0.8);
}
.image-wrap .bx-wrapper .bx-prev {
  left: auto;
  right: -63px;
}
@media only screen and (max-width: 768px) {
  .image-wrap .bx-wrapper .bx-prev {
    right: -40px;
  }
}
@media only screen and (max-width: 480px) {
  .image-wrap .bx-wrapper .bx-prev {
    right: -30px;
  }
}
.image-wrap .bx-wrapper .bx-prev:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 36px;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 12px;
  border-color: transparent transparent transparent #fff;
}
@media only screen and (max-width: 768px) {
  .image-wrap .bx-wrapper .bx-prev:after {
    left: 20px;
    border-width: 15px 0 15px 9px;
  }
}
@media only screen and (max-width: 480px) {
  .image-wrap .bx-wrapper .bx-prev:after {
    left: 15px;
  }
}
.image-wrap .bx-wrapper .bx-next {
  right: auto;
  left: -63px;
}
@media only screen and (max-width: 768px) {
  .image-wrap .bx-wrapper .bx-next {
    left: -40px;
  }
}
@media only screen and (max-width: 480px) {
  .image-wrap .bx-wrapper .bx-next {
    left: -30px;
  }
}
.image-wrap .bx-wrapper .bx-next:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 36px;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 12px 20px 0;
  border-color: transparent #fff transparent transparent;
}
@media only screen and (max-width: 768px) {
  .image-wrap .bx-wrapper .bx-next:after {
    right: 20px;
    border-width: 15px 9px 15px 0;
  }
}
@media only screen and (max-width: 480px) {
  .image-wrap .bx-wrapper .bx-next:after {
    right: 15px;
  }
}
.image-wrap__slider > li > img {
  width: 100%;
}
.image-wrap__map-grid {
  display: table;
  width: 100%;
  table-layout: fixed;
}
@media only screen and (max-width: 600px) {
  .image-wrap__map-grid {
    display: block;
  }
}
.image-wrap__map-col {
  display: table-cell;
  position: relative;
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .image-wrap__map-col {
    display: block;
    width: 100%;
  }
}
.image-wrap__map-col img {
  width: 100%;
}
.image-wrap__map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 2px solid #def46b;
}
@media only screen and (max-width: 600px) {
  .image-wrap__map {
    position: static;
    height: 300px;
  }
}
@media only screen and (max-width: 600px) {
  .image-wrap__map-backup {
    display: none;
  }
}
.intro {
  position: relative;
  height: 100vh;
  color: #fff;
  background-color: #267ada;
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.intro__title {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  padding: 5vh;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  .intro__title {
    height: 51vh;
    width: 51vh;
    background: transparent url("images/intro-bg-round.png") center center no-repeat;
    background-size: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}
.intro__title-inner-wrap {
  display: table;
  height: 100%;
  width: 100%;
}
.intro__title-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.intro__title-inner h2 {
  font-family: 'rubik-bold', serif;
  font-size: 6.5vh;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.intro__title-inner p {
  font-size: 4vh;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.intro__header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.list-item {
  position: relative;
  padding-top: 22px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 215px;
  border-top: 1px solid #08b1f0;
}
@media only screen and (max-width: 1100px) {
  .list-item {
    padding-left: 10px;
    padding-right: 175px;
  }
}
@media only screen and (max-width: 600px) {
  .list-item {
    padding: 0 10px 15px;
  }
}
.list-item__label {
  position: absolute;
  top: -6px;
  right: 40px;
  display: block;
  width: 145px;
  padding: 23px 5px 7px;
  font-family: 'rubik-bold', serif;
  font-size: 3rem;
  text-align: center;
  background: #08b1f0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 3px 2px 2px 0px rgba(0,0,0,0.35);
}
@media only screen and (max-width: 1100px) {
  .list-item__label {
    right: 10px;
    padding: 15px 5px 10px;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .list-item__label {
    position: static;
    margin-top: -5px;
    margin-bottom: 10px;
  }
}
.list-item__label:after {
  position: absolute;
  top: 0;
  right: -5px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 0 5px;
  border-color: transparent transparent transparent #23408f;
}
@media only screen and (max-width: 600px) {
  .list-item__label:after {
    top: -5px;
    right: 5px;
  }
}
.list-item__label span {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  color: #fff200;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-item > h3 {
  margin-bottom: 0.6em;
  color: #08b1f0;
  font-size: 1.6rem;
  line-height: 1.2em;
}
.list-item > h3 strong,
.list-item > h3 b {
  font-size: 2rem;
  font-family: 'rubik-medium', serif;
}
.list-item > p {
  margin-bottom: 0.5em;
  color: #656363;
  font-size: 1.5rem;
}
.list-item > p:last-child {
  margin-bottom: 0;
}
.list-item_alt {
  border-top: 1px solid #40ae49;
}
.list-item_alt > .list-item__label {
  background: #40ae49;
}
.list-item_alt > h3 {
  color: #40ae49;
}
.main-menu > li > a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
}
.main-menu > li > a:hover,
.main-menu > li > a:focus {
  color: #fff200;
}
.map-section {
  display: table;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .map-section {
    display: block;
  }
}
.map-section__col {
  display: table-cell;
  width: 50%;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .map-section__col {
    display: block;
    width: 100%;
  }
}
.map-section__text {
  padding: 50px 30px;
  color: #fff;
  background: #40ae49;
}
.map-section__text p {
  margin-bottom: 1em;
  font-size: 3rem;
  line-height: 1.2em;
}
@media only screen and (max-width: 1100px) {
  .map-section__text p {
    font-size: 1.6rem;
  }
}
.map-section__text p:last-child {
  margin-bottom: 0;
}
.map-section__block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
}
@media only screen and (max-width: 768px) {
  .map-section__block {
    position: relative;
    height: 300px;
    bottom: 0;
  }
}
.map-section__block_2 {
  top: 50%;
  bottom: 0;
}
@media only screen and (max-width: 768px) {
  .map-section__block_2 {
    top: 0;
  }
}
.map-section__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.map-section__map {
  background: #008000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.nav-btn {
  position: relative;
  display: block;
  height: 24px;
  width: 30px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.nav-btn:hover span,
.nav-btn:focus span {
  background: #fff200;
}
.nav-btn span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 4px;
  width: 100%;
  background: #fff;
  transform: rotate(0deg);
  transition: all 0.25s ease-in-out;
}
.nav-btn span:nth-child(1) {
  top: 2px;
}
.nav-btn span:nth-child(2) {
  top: 10px;
}
.nav-btn span:nth-child(3) {
  top: 18px;
}
.nav-btn_opened span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
}
.nav-btn_opened span:nth-child(2) {
  left: 30px;
  opacity: 0;
}
.nav-btn_opened span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
}
.page {
  padding-bottom: 40px;
}
.page__row {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (min-width: 480px) {
  .page__row {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 1100px) {
  .page__row {
    padding-top: 80px;
    padding-bottom: 152px;
    margin-top: -152px;
  }
}
@media only screen and (min-width: 1100px) {
  .page__row_1 {
    margin-top: 0;
    background: transparent url("images/bg-2.png") right center no-repeat;
    background-size: 30% auto;
  }
}
@media only screen and (min-width: 1100px) {
  .page__row_2 {
    background: transparent url("images/bg-3.png") left center no-repeat;
    background-size: auto 100%;
  }
}
@media only screen and (min-width: 1100px) {
  .page__row_3 {
    background: transparent url("images/bg-4.png") right 50px center no-repeat;
    background-size: auto;
  }
}
@media only screen and (min-width: 1100px) {
  .page__row_4 {
    background: transparent url("images/bg-5.png") 50px center no-repeat;
    background-size: auto;
  }
}
.page__title {
  margin-bottom: 0.5em;
  color: #23408f;
  font-size: 2.4rem;
  line-height: 1.2em;
}
.page__title span {
  font-size: 0.7em;
}
@media only screen and (min-width: 600px) {
  .page__title {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1100px) {
  .page__title {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 1100px) {
  .page__title_row-2 {
    padding-right: 15%;
  }
}
.popup {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  color: #23408f;
  text-align: right;
  background: #fff;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5);
}
.popup .mfp-close {
  display: none;
}
.popup__header {
  background: #e7e7e8;
}
.popup__body {
  padding: 25px 20px;
}
@media only screen and (max-width: 768px) {
  .popup__body {
    padding: 10px;
  }
}
.popup__footer {
  padding: 20px;
  padding-top: 0;
  font-size: 2.2rem;
}
@media only screen and (max-width: 768px) {
  .popup__footer {
    padding: 10px;
    padding-top: 0;
    font-size: 1.5rem;
  }
}
.popup__footer-separator {
  height: 1px;
  margin-bottom: 20px;
  background: #23408f;
}
@media only screen and (max-width: 768px) {
  .popup__footer-separator {
    margin-bottom: 10px;
  }
}
.popup__header-row {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.popup__header-col {
  display: table-cell;
  vertical-align: middle;
}
.popup__header-col_1 {
  width: 300px;
  padding: 20px 12px;
}
@media only screen and (max-width: 768px) {
  .popup__header-col_1 {
    padding: 12px;
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .popup__header-col_1 {
    width: 70%;
  }
}
.popup__header-col_1 span {
  display: inline-block;
  font-size: 2rem;
  margin-left: 2rem;
}
@media only screen and (max-width: 768px) {
  .popup__header-col_1 span {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .popup__header-col_1 span:last-child {
    margin-right: 0;
  }
}
.popup__header-col_1 span:last-child {
  margin-right: 0;
}
.popup__header-col_1 span span {
  font-size: 2.5rem;
}
@media only screen and (max-width: 768px) {
  .popup__header-col_1 span span {
    font-size: 2rem;
  }
}
.popup__header-col_2 {
  width: 50px;
  padding: 20px 0;
}
@media only screen and (max-width: 768px) {
  .popup__header-col_2 {
    display: none;
  }
}
.popup__header-col_3 {
  position: relative;
  width: 350px;
  padding: 12px;
  text-align: left;
  vertical-align: top;
}
@media only screen and (max-width: 768px) {
  .popup__header-col_3 {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .popup__header-col_3 {
    width: 30%;
  }
}
.popup__print-btn {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  border: 1px solid #23408f;
}
.popup__print-btn:hover,
.popup__print-btn:focus {
  opacity: 0.6;
}
.popup__print-btn img {
  width: 100%;
}
.popup__logo {
  position: absolute;
  top: 5px;
  left: 45px;
  width: 140px;
}
@media only screen and (max-width: 768px) {
  .popup__logo {
    width: 80px;
  }
}
@media only screen and (max-width: 480px) {
  .popup__logo {
    display: none;
  }
}
.popup__close-btn {
  position: static;
  display: inline-block;
  vertical-align: top;
  height: 25px;
  width: 25px;
  padding: 0;
  line-height: 23px;
}
.popup__close-btn:hover,
.popup__close-btn:focus {
  opacity: 0.6;
}
.popup__close-btn img {
  width: 100%;
}
.popup__body-row {
  display: table;
  width: 100%;
  table-layout: fixed;
}
@media only screen and (max-width: 480px) {
  .popup__body-row {
    display: block;
  }
}
.popup__body-col {
  display: table-cell;
  width: 50%;
}
@media only screen and (max-width: 480px) {
  .popup__body-col {
    display: block;
    width: 100%;
  }
}
.popup__body-col_1 {
  border-left: 1px solid #23408f;
}
@media only screen and (max-width: 480px) {
  .popup__body-col_1 {
    margin-bottom: 10px;
    border: 0;
  }
}
.popup__body-col_2 {
  vertical-align: bottom;
}
.popup__decorated-table {
  width: 100%;
  table-layout: fixed;
  font-family: 'rubik-medium', serif;
  font-size: 3rem;
}
@media only screen and (max-width: 768px) {
  .popup__decorated-table {
    font-size: 1.5rem;
  }
}
.popup__decorated-table td {
  padding: 10px;
}
.popup__decorated-table td:first-child {
  width: 30%;
  padding-left: 20px;
  text-align: left;
}
@media only screen and (max-width: 768px) {
  .popup__decorated-table td:first-child {
    padding-left: 10px;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .popup__decorated-table td:first-child {
    width: 40px;
    padding: 5px 0;
  }
}
.popup__decorated-table td:nth-child(2) {
  width: 70%;
  padding-right: 20px;
}
@media only screen and (max-width: 768px) {
  .popup__decorated-table td:nth-child(2) {
    padding-right: 0;
  }
}
.popup__decorated-table img {
  height: 46px;
  width: auto;
}
@media only screen and (max-width: 768px) {
  .popup__decorated-table img {
    height: 25px;
  }
}
.popup__price-wrap {
  padding: 20px;
  margin-bottom: 20px;
  font-family: 'rubik-medium', serif;
}
@media only screen and (max-width: 768px) {
  .popup__price-wrap {
    padding: 5px 10px;
    margin-bottom: 10px;
  }
}
.popup__price-title {
  font-size: 3.4rem;
}
@media only screen and (max-width: 768px) {
  .popup__price-title {
    font-size: 1.5rem;
  }
}
.popup__price {
  font-size: 5rem;
}
@media only screen and (max-width: 768px) {
  .popup__price {
    font-size: 3rem;
  }
}
.popup__price span {
  font-size: 3rem;
}
@media only screen and (max-width: 768px) {
  .popup__price span {
    font-size: 1.5rem;
  }
}
.popup__files-wrap {
  padding: 5px 10px;
  background: #e7e7e8;
}
.popup__files-wrap:after {
  display: table;
  clear: both;
  content: '';
}
@media only screen and (max-width: 768px) {
  .popup__files-wrap {
    padding: 5px;
  }
}
.popup__file-link {
  display: block;
  float: left;
  width: 33.3333%;
  padding: 5px;
  color: #595959;
  text-align: center;
  text-decoration: none;
}
.popup__file-link:hover,
.popup__file-link:focus {
  opacity: 0.6;
}
.popup__file-link img {
  width: 42px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .popup__file-link img {
    width: 25px;
    margin-bottom: 5px;
  }
}
.popup__file-link span {
  display: block;
  font-size: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rounded-list > li {
  paddin-top: 6px;
}
@media only screen and (min-width: 1100px) {
  .rounded-list > li:nth-child(1),
  .rounded-list > li:nth-child(6) {
    margin-right: 20%;
  }
  .rounded-list > li:nth-child(2),
  .rounded-list > li:nth-child(5) {
    margin-right: 25%;
  }
  .rounded-list > li:nth-child(3),
  .rounded-list > li:nth-child(4) {
    margin-right: 30%;
  }
}
.table-section .tablesaw-advance a.tablesaw-nav-btn {
  height: 25px;
  width: 25px;
  padding: 0;
}
.table-section .tablesaw-advance a.tablesaw-nav-btn.right {
  margin-right: 10px;
}
.table-section .tablesaw-advance a.tablesaw-nav-btn.left:before,
.table-section .tablesaw-advance a.tablesaw-nav-btn.right:before {
  top: 7px;
}
.table-section .tablesaw-advance a.tablesaw-nav-btn.left:before {
  left: 10px;
  border-left: 5px solid #808080;
  border-right: 5px solid transparent;
}
.table-section .tablesaw-advance a.tablesaw-nav-btn.right:before {
  left: 3px;
  border-right: 5px solid #808080;
  border-left: 5px solid transparent;
}
.table-section .tablesaw-advance.minimap {
  margin-top: 7px;
}
.table {
  width: 100%;
  font-size: 2rem;
}
@media only screen and (max-width: 768px) {
  .table {
    font-size: 1.5rem;
  }
}
.table thead {
  color: #fff200;
}
.table thead th {
  padding: 9px 10px;
  font-family: 'rubik-medium', serif;
  font-size: 2.2rem;
  text-align: center;
  background: #23408f;
  background: linear-gradient(to bottom, #8292bf 0%, #324d97 54%, #23408f 100%);
  border: 1px solid #23408f;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 768px) {
  .table thead th {
    font-size: 1.8rem;
  }
}
.table thead th:hover {
  opacity: 0.8;
}
.table thead th:last-child {
  color: #fff;
  background: #ec008c;
  background: linear-gradient(to bottom, #f46fbe 0%, #ee1a98 54%, #ec008c 100%);
  border: 1px solid #ec008c;
}
.table thead th:last-child:hover {
  opacity: 1;
}
.table thead th.tablesaw-sortable-descending {
  background: #8292bf;
  background: linear-gradient(to bottom, #23408f 0%, #324d97 54%, #8292bf 100%);
  border: 1px solid #23408f;
}
.table tbody {
  color: #23408f;
}
.table tbody td {
  height: 38px;
  padding: 0 10px;
  text-align: center;
  border: 1px solid #23408f;
}
.table tbody td:last-child {
  position: relative;
  padding: 0;
}
.table .tablesaw-sortable-ascending .tablesaw-sortable-arrow:after,
.table .tablesaw-sortable-descending .tablesaw-sortable-arrow:after {
  width: 0;
  height: 0;
  content: '';
  margin-left: 0;
  margin-right: 5px;
  border-style: solid;
}
.table .tablesaw-sortable-ascending .tablesaw-sortable-arrow:after {
  border-width: 0 8px 14px 8px;
  border-color: transparent transparent #fff200 transparent;
}
.table .tablesaw-sortable-descending .tablesaw-sortable-arrow:after {
  border-width: 14px 8px 0 8px;
  border-color: #fff200 transparent transparent transparent;
}
.table .table__separator td {
  height: 26px;
  border: none;
}
@media only screen and (max-width: 768px) {
  .table .table__separator td {
    height: 16px;
  }
}
.table__popup-btn {
  display: inline-block;
  height: 100%;
  width: 100%;
  color: #fff;
  line-height: 33px;
  text-decoration: none;
  background: #23408f;
  background: linear-gradient(to bottom, #8292bf 0%, #324d97 54%, #23408f 100%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
.table__popup-btn:hover,
.table__popup-btn:focus {
  opacity: 0.8;
}
.table__popup-btn span {
  display: block;
  width: 100%;
  padding: 0 10px;
  vertical-align: middle;
}
.table__row-alert td {
  color: #000;
  background: #ec008c;
}
.table__sold-label {
  display: inline-block;
  padding: 4px 12px;
  color: #fff;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
