.popup {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  color: brandDark;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5);
}
.popup__header {
  background: #e7e7e8;
}
.popup__body {
  padding: 25px 20px;
below(tablet)
}
.popup__footer {
  padding: 20px;
  padding-top: 0;
  font-size: 2.2rem;
below(tablet)
}
.popup__footer-separator {
  height: 1px;
  margin-bottom: 20px;
  background: brandDark;
below(tablet)
}
.popup__header-row {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.popup__header-col {
  display: table-cell;
  vertical-align: middle;
}
.popup__header-col_1 {
  width: 300px;
  padding: 20px 12px;
below(tablet)
below(small)
}
.popup__header-col_1 span {
  display: inline-block;
  font-size: 2rem;
  margin-left: 2rem;
below(tablet)
}
.popup__header-col_1 span:last-child {
  margin-right: 0;
}
.popup__header-col_1 span span {
  font-size: 2.5rem;
below(tablet)
}
.popup__header-col_2 {
  width: 50px;
  padding: 20px 0;
below(tablet)
}
.popup__header-col_3 {
  position: relative;
  width: 350px;
  padding: 12px;
  text-align: left;
  vertical-align: top;
below(tablet)
below(small)
}
.popup__print-btn {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  border: 1px solid brandDark;
}
.popup__print-btn:hover,
.popup__print-btn:focus {
  opacity: 0.6;
}
.popup__print-btn img {
  width: 100%;
}
.popup__logo {
  position: absolute;
  top: 5px;
  left: 45px;
  width: 140px;
below(tablet)
below(small)
}
.popup__close-btn {
  display: inline-block;
  vertical-align: top;
  width: 25px;
}
.popup__close-btn:hover,
.popup__close-btn:focus {
  opacity: 0.6;
}
.popup__close-btn img {
  width: 100%;
}
.popup__body-row {
  display: table;
  width: 100%;
  table-layout: fixed;
below(small)
}
.popup__body-col {
  display: table-cell;
  width: 50%;
below(small)
}
.popup__body-col_1 {
  border-left: 1px solid brandDark;
below(small)
}
.popup__body-col_2 {
  vertical-align: bottom;
}
.popup__decorated-table {
  width: 100%;
  table-layout: fixed;
  font-family: font-3;
  font-size: 3rem;
below(tablet)
}
.popup__decorated-table td {
  padding: 10px;
}
.popup__decorated-table td:first-child {
  width: 30%;
  padding-left: 20px;
  text-align: left;
below(tablet)
below(small)
}
.popup__decorated-table td:nth-child(2) {
  width: 70%;
  padding-right: 20px;
below(tablet)
}
.popup__decorated-table img {
  height: 46px;
  width: auto;
below(tablet)
}
.popup__price-wrap {
  padding: 20px;
  margin-bottom: 20px;
  font-family: font-3;
below(tablet)
}
.popup__price-title {
  font-size: 3.4rem;
below(tablet)
}
.popup__price {
  font-size: 5rem;
below(tablet)
}
.popup__price span {
  font-size: 3rem;
below(tablet)
}
.popup__files-wrap {
  padding: 5px 10px;
  background: #e7e7e8;
below(tablet)
}
.popup__file-link {
  display: block;
  float: left;
  width: 33.3333%;
  padding: 5px;
  color: #595959;
  text-align: center;
  text-decoration: none;
}
.popup__file-link:hover,
.popup__file-link:focus {
  opacity: 0.6;
}
.popup__file-link img {
  width: 42px;
  margin-bottom: 10px;
below(tablet)
}
.popup__file-link span {
  display: block;
  font-size: 1.3rem;
}
/*# sourceMappingURL=src/stylus/blocks/popup.css.map */