//colors
main = #000000 				//dark color
light = #ffffff
brandDark = #23408f			//dark blue
brandLight = #08b1f0		//light blue
brand = #fff200				//yellow


font-1 = 'rubik-regular', serif
font-2 = 'rubik-bold', serif
font-3 = 'rubik-medium', serif

//size
largest = 1350px //max container width + 20px
large = 1100px 
tablet = 768px
small = 480px