//colors
main = #000000 				//dark color
light = #ffffff
tableBorder = #23408f


font-1 = 'rubik-regular', serif
font-2 = 'rubik-bold', serif
font-3 = 'rubik-black', serif
font-3 = 'rubik-medium', serif

//size
large = 1100px
tablet = 768px
small = 480px